<link rel="stylesheet" href="/assets/css/user/auth.css">

<div class="container">
    <div class="row">
        <div id="job-history" class="col-sm-6 offset-3">
            <h1>Job you have applied in past!</h1>
            <form id="job-history-form">
                <div class="form-group">
                    <label for="job-name"><b>Job title:</b> {{name}} </label>  
                    <label for="job-position"><b>Job position</b>:</b> {{position}} </label>  
                    <label for="job-desc"><b>Description:</b> {{desc}} </label>  
                    {{!-- <label for="workspace-address"><b>Workspace Address:</b> {{address}} </label>   --}}
                </div>
            </form>
            <div id="alert" class="alert" role="alert"></div>
        </div>
    </div>
</div>
