<link rel="stylesheet" href="/assets/css/user/auth.css">

<div class="container">
    <div class="row">
        <div id="workspace-history" class="col-sm-6 offset-3">
            <h1>Workspaces you have booked in past!</h1>
            <form id="workspace-history-form">
                <div class="form-group">
                    <label for="workspace-name"><b>Workspace Name:</b> {{name}} </label>  
                    <label for="workspace-email"><b>Workspace Email:</b> {{email}} </label>  
                    <label for="workspace-phone"><b>Workspace Phone:</b> {{phone}} </label>  
                    <label for="workspace-address"><b>Workspace Address:</b> {{address}} </label>  
                </div>
            </form>
            <div id="alert" class="alert" role="alert"></div>
        </div>
    </div>
</div>
