<link rel="stylesheet" href="/assets/css/home/home.css">

<div class="container">
    <!-- partition panel section starts from here -->
    <div id="panel" class="row">
        <div id="left-panel" class="col-sm-6">
            <h1>Find a Job!</h1>
            <p>Lorem ipsum dolor sit amet, ut id, vestibulum nec wisi vel scelerisque ut, et vestibulum risus enim vestibulum, vehicula ante, tortor erat non. Quis luctus, sed vestibulum urna dui eu rerum ac, nonummy commodo.</p>
            <input type="text" placeholder="Find a Job">
            <span><a href="/jobs"><img src="/assets/images/search-btn.png"></a></span>
        </div>

        <div id="right-panel" class="col-sm-6">
            <h1>Find a Workspace!</h1>
            <p>Lorem ipsum dolor sit amet, ut id, vestibulum nec wisi vel scelerisque ut, et vestibulum risus enim vestibulum, vehicula ante, tortor erat non. Quis luctus, sed vestibulum urna dui eu rerum ac, nonummy commodo.</p>
            <input type="text" placeholder="Find a Workspace">
            <span><a href="/workspaces"><img src="/assets/images/search-btn.png"></a></span>
        </div>
    </div>
    <!-- partition panel section ends here -->
    
    <!-- Latest jobs section starts from here -->
    <div id="recent-jobs" class="row">
        <div class="col-sm-12">
            <h1>Lastest Trending Jobs</h1>
            <div class="row">
                <div class="item col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-2"><img src="/assets/images/logos/morgan-stanley.png"></div>
                        <div class="col-sm-10"><h2>Morgan Stanley</h2></div>
                    </div>
                    <div class="col-sm-12">
                        <div><h3>Web Developer</h3></div>
                        <div><p>An online loan website would allow AccionMFB to access online application, website, application information from any convenient location, using a single user ID and password. They would be able to do transactions online. The central goal of this initiative is to transform the day-to-day operations of the Bank by reducing paperwork; putting information services and transaction online; streamlining access to information, applicant’s results and content. Making it easy for applicants to find and use online services, and thus increasing the likelihood that the Bank can attain the strategic goals laid out in this initiative. I used a combination of surveys, focus groups, and one-on-one interviews to gather information from AccionMFB, staff, and from key personnel at other institutions that have related system."</p></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-5"><b>Hours: </b>40</div>
                        <div class="col-sm-7"><b>Starts at: </b>04/06/2018</div>
                    </div>
                    <div class="col-sm-12">
                        <a>Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest jobs section ends here -->

    <!-- Latest workspaces section starts from here -->
    <div id="recent-workspaces" class="row">
        <div class="col-sm-12">
            <h1>New Available Workspaces</h1>
            <div class="row">
                <div class="item col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-12"><h2>Coffee Cup</h2></div>
                        <div class="col-sm-12"><b>Address: </b>234, Cvr avenue, union city, New Jersey 07895</div>
                        <div class="col-sm-12"><b>Phone: </b> 213-456-7890</div>
                    </div>
                    <div class="col-sm-12">
                        <div><p><b>Review: </b>An online loan website would allow AccionMFB to access online application, website, application information from any convenient location, using a single user ID and password. They would be able to do transactions online. The central goal of this initiative is to transform the day-to-day operations of the Bank by reducing paperwork; putting information services and transaction online; streamlining access to information, applicant’s results and content. Making it easy for applicants to find and use online services, and thus increasing the likelihood that the Bank can attain the strategic goals laid out in this initiative. I used a combination of surveys, focus groups, and one-on-one interviews to gather information from AccionMFB, staff, and from key personnel at other institutions that have related system."</p></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6"><b>Rating: </b>4.45/5</div>
                        <div class="col-sm-6"><b>Opens at: </b>0900</div>
                    </div>
                    <div class="col-sm-12">
                        <a>Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest workspaces section ends here -->
</div>
