<article>
    <h2>Enter details</h2>

    
    <form action="users/signup/signup" method="post" enctype='application/x-www-form-urlencoded' id="signup-form" name='user_signup'>
        <label for="username">Name</label>
        <input id="username" name='username' type="text"><br/>

        <label for="email_id">Email_id</label>
        <input id="email_id" name='email_id' type="text"><br/>

        <label for="phone">Phone_no</label>
        <input id="phone" name='phone' type="text"><br/>
        
        <label for="password">Password</label>
        <input id="password" name='password' type="password"><br/>

        <label for="cpassword">Confirm Password</label>
        <input id="cpassword" name='cpassword' type="password"><br/>

        <label for="aoi">Area of interest</label>
        <input id="aoi" name='aoi' type="text"><br/>

        {{!-- <label for="password">Image</label> --}}
        {{!-- <input id="password" name='password' type="password"><br/> --}}

        <input type="button" id="btn" value="SIGN UP" onclick="submitForm()" />
    </form>

{{!-- 
    <p class="error">
        {{error}}
    </p> --}}
</article>